@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "firago";
  src: url("/fonts/FiraGO-Regular.otf");
}

input:checked + div {
  background: #0284c7;
}
input:checked + div div {
  transform: translateX(105%);
  background: #fff;
}
